* {
	margin: 0;
	padding: 0;
}

body {
	text-align: center;
	background-color: #A1B099;
	font-family: 'Monserrat', sans-serif;
	font-weight: bold;
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-image: url('./boba.jpg');
	height: 500px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

h1 {
	width: 100%;
	font-family: 'Pacifico', cursive;
	font-size: 100px;
	color: #F8FCF5;
}

#nav-bar {
	display: inline-flex;
}

a {
	margin: 10px;
	padding: 10px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Monserrat', sans-serif;
	font-size: 18px;
	letter-spacing: 1px;
	color: #F8FCF5;
}

a:hover {
	color: #A1B099;
	background-color: #F8FCF5;
	border-radius: 15px;
}

#mission {
	background-color: #F8FCF5;
	padding: 80px 50px 100px;
}

#mission h2 {
	color: #55634D;
	font-family: 'Pacifico', cursive;
	font-size: 40px;
	margin-bottom: 40px;
}

#mission p {
	font-size: 16px;
	font-weight: normal;
	letter-spacing: 1px;
	line-height: 26px;
	color: #A1B099;
	padding: 0px 70px;
}

#drinks h2 {
	width: 100%;
	color: #F8FCF5;
	font-family: 'Pacifico', cursive;
	font-size: 40px;
	margin-bottom: 40px;
}

#drinks {
	margin: 100px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.drink {
	padding: 20px 10px 20px;
	flex-basis: 240px;
}

.drink img {
	width: 200px;
	margin: 0 auto 10px;
	border-radius: 30px;
}

.drink span {
	min-width: 200px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 1px;
	color: #F8FCF5;
}

#team {
	background-color: #F8FCF5;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin-top: 100px;
	padding: 100px;
}

#team h2 {
	color: #634363;
	width: 100%;
	font-family: 'Pacifico', cursive;
	font-size: 40px;
	margin-bottom: 40px;
}

.team-member {
	margin-bottom: 50px;
	padding: 25px;
	flex-basis: 240px;
	background-color: #B099B0;
}

.team-member img {
	width: 200px;
	margin: 25px auto 25px;
	border-radius: 30px;
}

.team-member h3 {
	min-width: 200px;
	font-family: 'Pacifico', cursive;
	font-weight: bold;
	letter-spacing: 2px;
	text-align: center;
	color: #F8FCF5;
}

.team-member p {
	font-weight: normal;
	letter-spacing: 1px;
	color: #F8FCF5;
	padding: 10px 10px 25px;
}

footer {
	padding: 20px;
	background-color: #55634D;
	color: #F8FCF5;
}

#footer-sections {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.foot-section {
	flex-basis: 240px;
	padding: 10px 0px 10px;
	max-width: 275px;
}

.foot-section h4 {
	font-family: 'Pacifico', cursive;
	font-size: 26px;
	letter-spacing: 2px;
	color: #A1B099;
}

.foot-section p {
	font-weight: normal;
	font-size: 14px;
	letter-spacing: 1px;
	line-height: 28px;
}

.underline {
	text-decoration: underline;
}

h5 {
	padding-top: 25px;
	font-size: 16px;	
}

/* Color palette: 
	- Army Green: #55634D
	- Off White: #F8FCF5
	- Pale Green: #A1B099
	- Dark Mauve: #634363
	- Lavender: #B099B0